body {background-color: lightblue;
font-size: 20px;
margin: 1px black;}

h1 {text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: lightblue;
  padding: 2px;
}

.grid1 {padding-top: 100px;
}

.grid2 {;
}

.row {color: green;
	position: relative;
	top: 800px;}

.indexhead {text-align: center;
	position:relative;
top: 200px;}	

h3 {position:relative;
top: 400px;
text-align:center;}

#invis {display: none;
text-align: center;
	position:relative;
top: 200px;}

.blink_me {cursor: pointer;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}